.notification-menu {
    padding: 7px;
    float: right;
}
.Notifications {
    border: thin dashed #E0354B;
    padding: 7px;
    margin: 7px;
    min-width: 20rem;
}

li[data-priority="default"] {
    color: blue;
}

li[data-priority="urgent"] {
    color: red;
}
