body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App-header {
    display: flex;
    align-items: center;
    border-bottom: 4px solid #e70505;
}

.App-header img {
    height: 25vh;
}

.App-header h1 {
    color: #e70505;
    font-size: 2.5rem;
}

.App-body {
    height: 70vh;
}

.App-body p {
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 5rem;
}

.App-footer {
    height: 10vh;
    border-top: 4px solid #e70505;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-footer p {
    font-size: 1.2rem;
    font-style: italic;
}
