* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#count {
    display: contents;
    font-weight: bold;
}

#logo {
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    background-image: url('../assets/holberton-logo.jpg');
}
